@tailwind base;
@tailwind components;
@tailwind utilities;

.darky {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 98%);
}

.lighty {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
}
.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

.light {
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

/* .dark {
  @apply background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 98%);
} */
